{% extends "base" %}

{% block content %}
<section>
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="pt-32 pb-12 md:pt-40 md:pb-20">
      <div class="max-w-3xl mx-auto lg:max-w-none">
        <article>
          <!-- Header -->
          <header class="max-w-3xl mx-auto mb-20">
            <h1 class="h1 text-center mb-4">{{ reference.title }}</h1>
          </header>

          <!-- Content -->
          <div class="relative lg:flex lg:justify-between">
            <!-- Sidebar -->
            <aside class="relative w-full lg:w-64 mr-20 flex-shrink-0">
              <dl>
                <dt class="text-lg font-bold leading-snug tracking-tight">Client</dt>
                <dd class="mb-4">{{ reference.client }}</dd>

                <dt class="text-lg font-bold leading-snug tracking-tight">Year</dt>
                <dd class="mb-4">{{ reference.year }}</dd>

                <dt class="text-lg font-bold leading-snug tracking-tight">Technologies</dt>
                <dd class="mb-4">
                  {% for technology in reference.technologies %}
                  <span class="inline-flex text-center py-1 px-3 rounded-full bg-gray-800 mr-1 mb-1">{{ technology }}</span>
                  {% endfor %}
                </dd>
              </dl>
            </aside>

            <!-- Main content -->
            <div>
              <div class="text-lg text-gray-400">
                {{ reference.html|safe }}
                <div>
                  <hr class="w-full h-px pt-px mt-8 bg-gray-800 border-0">
                  <div class="mt-6">
                    <a href="/references" class="inline-flex items-center text-base text-red-500 font-medium hover:underline">
                      <svg class="w-3 h-3 fill-current text-red-500 flex-shrink-0 mr-2" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                        <path d="M.293 5.282L5 .5l1.414 1.436-3 3.048H12v2.032H3.414l3 3.048L5 11.5.293 6.718a1.027 1.027 0 010-1.436z" />
                      </svg>
                      <span>References</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
{% endblock %}
